

/*home*/

#skin{
        background-color: lightgray;
        position: relative;
        max-width: 100%;
        height: 1700px;

}
#quick_links{
        width: 180px;
        height: 200px;
        background-color: #f2f2f2;
        position: fixed;
        text-align: center;
        margin-top: 200px;
        margin-left: 50px;
        border-radius: 10px;
}
/*follow*/
#follow_us{
        width: 180px;
        height: 200px;
        background-color: #f2f2f2;
        position: fixed;
        text-align: center;
        margin-top: 450px;
        margin-left: 50px;
        border-radius: 10px;
}


#wrapper{

        margin: 0px auto;
        background-color: #f2f2f2;
        max-width: 1200px;
        height: 100%;
        font-family: sans-serif;
        
        
}
#title{
        text-align: center;
        font-size: large;
        background-color: #ffffff;
        border: 5px solid #003a66;
        
}



#team_dropdown_list {
        margin: auto;
        width: 450px;
        height: 90px;
        border: 5px solid #cc0000;
        padding: 8px;
        display: inline-block;
        background-color: #ffffff;
        margin-top: 20px;

}

#starting_location{
        margin: auto;
        width: 450px;
        height: 90px;
        border: 5px solid #cc0000;
        padding: 8px;
        display: inline-block;
        background-color: #ffffff;
        margin-top: 20px;

}

#MLB_logo{

        width: 175px;
        height: 97px;
        position: absolute;
        top: 0px;
        left: 288px;
        
}

#MLB_logo_2{
        width: 175px;
        height: 97px;
        position: absolute;
        top: 0px;
        right: 288px;


}
#team_input_box{
        width: 500px;
        height: 300px;
        background-color: #003a66;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin-left: 90px;
        margin-top: 5px;
       
}
#map {
        display: inline-block;
        width: 500px;
        height: 300px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

/*nav bar*/
.navbar {
        overflow: hidden;
        background-color: #003a66;
        font-family: Arial, Helvetica, sans-serif;
      }
      
.navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
.dropdown {
        float: left;
        overflow: hidden;
      }
      
.dropdown .dropbtn {
        cursor: pointer;
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
        background-color: #cc0000;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        color: #003a66;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .show {
        display: block;
      }

.home_intro{
        width: 400px;
        height: 200px;
        text-align: left;
        margin-left: 120px ;
        outline:  5px solid #003a66;
        padding: 15px
        font-size: large;
        display: inline-block;
}
/*slideshow homepage*/

.slide_container {
        width: 1002px;
        height: 400px;
        margin-left: 90px;
        margin-top: 45px;
      }
.lrg_slide{
        width: 1002px;
        height: 450px;
}
      
      /* Hide the images by default */
.mySlides {
        display: none;
      }
      
      /* Add a pointer when hovering over the thumbnail images */
.cursor {
        cursor: pointer;
      }
      
      /* Next & previous buttons */
.prev,
.next {
        cursor: pointer;
        position: absolute;
        top: 24%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }
      
      /* Position the "next button" to the right */
.next {
        right: 400px;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      /* Number text (1/3 etc) */
.numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 200px;
      }
      
      /* Container for image text */
.caption-container {
        text-align: center;
        background-color: #003a66;
        padding: 2px 16px;
        color: white;
      }
      
.row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Six columns side by side */
.column {
        float: left;
        width: 16.66%;
      }
      
      /* Add a transparency effect for thumnbail images */
.demo {
        opacity: 0.6;
      }
      
.active,
.demo:hover {
        opacity: 1;
      }


/*login page*/
#ballpark_chasers_heading {
        font-family: 'Fredericka the Great', cursive;
        font-size: 40px;
        color: rgb(248, 243, 236);
        text-align: center;
        padding-top: 50px;
      }

#login_wrapper{ 
        width: 745px;
        height: 350px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        
        
}

body, html {
        height: 100%;
      }
      
.bg {
        /* The image used */
        background-image: url("https://baseballhealthnetwork.com/go/wp-content/uploads/2015/12/baseball-field.jpg");
      
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
      }






.login_form-box{

        display: inline-block;
        background-color: rgba(245, 245, 245, 0.753);
        width: 300px;
        min-height: 300px;
        padding: 35px;
        vertical-align: top;
        border-radius: 15px;
        
        
        opacity: 100%;
        
}

        .login_form-box input {
                width: 250px;
                height: 25px;
                margin: 5px 0px;
                border: 2px;
                padding: 1px 2px;
        }

        .login_form-box h2 {
                text-align: center;
        }

        .login_form-box form {
                padding-left: 25px;
        }

        #login_button, #register_button {
                width: 150px;
                margin-left: 50px;
        }


#register_pic{
        vertical-align: top;
        display: inline-block;
        width: 600px;
        height: 440px;
        margin-left: 20px;
        margin-top: 200px;
        
}

/*stadiums*/

.stadium_container{
        
        margin-left: auto;
        margin-right: auto;
        background-color: #f2f2f2;
        width: 909px;
        height: auto;
        font-family: sans-serif;
        padding: 25px;


}
.stadium_img{
        text-align: center;
        display: inline-block;
        
}
.stadium_img img{

        height: 200px;
        width: 300px;
}

.img_container {
        position: relative;
        display: inline-block;
        text-align: center;
        
      }
      
      .image {
        display: block;
        width: 300px;
        height: 200px;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #003a6683;
      }
      
      .img_container:hover .overlay {
        opacity: 1;
      }
      
      .stadium_text {
        width: 250px;
        color: white;
        font-size: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: left;
      }

#my_bucket_list_section {
        display: inline-block;
        margin: 50px;
}

.bucket_list_table tr:nth-child(even){background-color: whitesmoke;}

.bucket_list_table tr:hover {background-color:#93aed2;}

.bucket_list_table th {
        width: 50%;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 5px;
        text-align: left;
        background-color: #003a66;
        color: white;
}

.bucket_list_table td {
        padding: 8px;
}

#ballparks_visited_section {
        display: inline-block;
        margin-left: 100px;
}
.ballparks_visited_table tr:nth-child(even){background-color: whitesmoke;}

.ballparks_visited_table tr:hover {background-color:#93aed2;}

.ballparks_visited_table th {
        width: 50%;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 5px;
        text-align: left;
        background-color: #003a66;
        color: white;
}

.ballparks_visited_table td {
        padding: 8px;
}

#bucket{
        margin-left: 50px;
}

.bucket_button{
        background-color: whitesmoke;
        color: black;
        text-decoration: none;
        border-radius: 2px;
        padding: 2px;
        margin-left: 55px;
        

}
.stub_button{
        background-color: whitesmoke;
        color: black;
        text-decoration: none;
        border-radius: 2px;
        padding: 2px;
        margin-left: 66px;
        margin-top: 10px;
        display: inline-block;


}

/*news*/
#news_skin{
        background-color: lightgray;
        position: relative;
        width: 100%;
        height: 5300px;
        padding-bottom: 20px;
        

}
#news_wrapper{

        margin: 0px auto;
        
        background-color: #f2f2f2;
        max-width: 1200px;
        height: 100%;
        font-family: sans-serif;
        padding-bottom: 50px;
        
        
}
#news_title{

        font-size: xx-large;
        text-align: center;
}

.news_images{

        height: 400px;
        width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
        
}
.news_info{

        width: 800px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;

}
.news_articles{

        width: 800px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;

}
.article_header{
        font-size: x-large;
        text-align: center;
        margin-top:50px

}

/*footer*/
#footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightgray;
        color: #003a66;
        text-align: center;
        margin: 0px auto;
      }

/*items in the footer*/
#about{
        
        border-radius: 25px;
        display: inline-block;
        background-color: lightgray;
        width: 200px;
        height: 180px;
        padding: 10px;
        vertical-align: top;
        margin-left: 145px;
        font-family: sans-serif;
       
}
#about p{
        font-size: 12px;
}

#subcribe{
        
       
        border-radius: 25px;
        display: inline-block;
        background-color: lightgray;
        width: 200px;
        min-height: 180px;
        padding: 10px;
        vertical-align: top;
        margin-right: 145px;
        font-family: sans-serif;
        
}

#links{
        
        
        border-radius: 25px;
        display: inline-block;
        background-color: lightgray;
        width: 200px;
        min-height: 180px;
        padding: 10px;
        vertical-align: top;
        font-family: sans-serif;
        color: #003a66;
        
}
        

